In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('Titanic-Dataset-Test.csv')
df

,Unnamed: 0,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,709,710,3,1,0.000000,1,1,-0.341452,True,False,False
1,439,440,2,1,0.100109,0,0,-0.437007,False,False,True
2,840,841,3,1,-0.746389,0,0,-0.488854,False,False,True
3,720,721,2,0,-1.823750,0,1,0.016023,False,False,True
4,39,40,3,0,-1.208115,1,0,-0.422074,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...
174,433,434,3,1,-0.977252,0,0,-0.504962,False,False,True
175,773,774,3,1,0.000000,0,0,-0.502949,True,False,False
176,25,26,3,0,0.638789,1,5,-0.016444,False,False,True
177,84,85,2,0,-0.977252,0,0,-0.437007,False,False,True
178,10,11,3,0,-1.977659,1,1,-0.312172,False,False,True