In [16]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
import seaborn as sns
import matplotlib.pyplot as plt

In [17]:
df=pd.read_csv("BreastCancer.csv")
df

,age,gender,bp,cholsterol,BMI,Excerise level,Smoking,sugarlevel,familyhistory,symptoms,diagnosis,medication
0,35,M,101,100,8.500000,High,yes,high,yes,no,yes,no
1,45,F,120,90,16.500000,low,no,low,yes,yes,yes,yes
2,32,M,140,120,20.500000,High,yes,high,no,no,yes,no
3,42,M,156,120,27.166667,High,no,low,yes,yes,no,yes
4,56,F,160,140,33.166667,low,yes,high,yes,no,yes,no
5,25,M,181,147,39.166667,High,no,low,no,yes,no,yes
6,42,F,197,158,45.166667,High,yes,high,yes,no,yes,no
7,21,M,212,169,51.166667,low,no,low,yes,yes,yes,yes
8,30,M,101,100,8.500000,High,yes,high,yes,no,yes,no
9,29,F,120,90,16.500000,low,no,low,yes,yes,yes,yes
10,27,M,140,120,20.500000,High,yes,high,no,no,no,no
11,26,M,156,120,27.166667,High,no,low,yes,yes,yes,yes
12,25,F,160,140,33.166667,low,yes,high,yes,no,no,no
13,23,M,181,147,39.166667,High,no,low,no,yes,yes,yes
14,22,F,197,158,45.166667,High,yes,high,yes,no,yes,no
15,20,M,212,169,51.166667,low,no,low,yes,yes,yes,yes
16,19,M,101,100,8.500000,High,yes,high,yes,no,yes,no
17,17,F,120,90,16.500000,low,no,low,yes,yes,no,yes
18,16,M,140,120,20.500000,High,yes,high,no,no,yes,no

In [18]:
null_counts = df.isnull().sum()
null_counts

age               0
gender            0
bp                0
cholsterol        0
BMI               0
Excerise level    0
Smoking           0
sugarlevel        0
familyhistory     0
symptoms          0
diagnosis         0
medication        0
dtype: int64

In [23]:
#label encoding of gender
le = LabelEncoder()
df['gender'] = le.fit_transform(df['gender'])
df['Excerise level'] = le.fit_transform(df['Excerise level'])
df['Smoking'] = le.fit_transform(df['Smoking'])
df['sugarlevel'] = le.fit_transform(df['sugarlevel'])
df['familyhistory'] = le.fit_transform(df['familyhistory'])
df['symptoms'] = le.fit_transform(df['symptoms'])
df['diagnosis'] = le.fit_transform(df['diagnosis'])
df['medication'] = le.fit_transform(df['medication'])
df

,age,gender,bp,cholsterol,BMI,Excerise level,Smoking,sugarlevel,familyhistory,symptoms,diagnosis,medication
0,35,1,101,100,8.500000,0,1,0,1,0,1,0
1,45,0,120,90,16.500000,1,0,1,1,1,1,1
2,32,1,140,120,20.500000,0,1,0,0,0,1,0
3,42,1,156,120,27.166667,0,0,1,1,1,0,1
4,56,0,160,140,33.166667,1,1,0,1,0,1,0
5,25,1,181,147,39.166667,0,0,1,0,1,0,1
6,42,0,197,158,45.166667,0,1,0,1,0,1,0
7,21,1,212,169,51.166667,1,0,1,1,1,1,1
8,30,1,101,100,8.500000,0,1,0,1,0,1,0
9,29,0,120,90,16.500000,1,0,1,1,1,1,1
10,27,1,140,120,20.500000,0,1,0,0,0,0,0
11,26,1,156,120,27.166667,0,0,1,1,1,1,1
12,25,0,160,140,33.166667,1,1,0,1,0,0,0
13,23,1,181,147,39.166667,0,0,1,0,1,1,1
14,22,0,197,158,45.166667,0,1,0,1,0,1,0
15,20,1,212,169,51.166667,1,0,1,1,1,1,1
16,19,1,101,100,8.500000,0,1,0,1,0,1,0
17,17,0,120,90,16.500000,1,0,1,1,1,0,1
18,16,1,140,120,20.500000,0,1,0,0,0,1,0