In [1]:
import pandas as pd

In [4]:
df=pd.read_csv("BreastCancer.csv")
df

,age,gender,bp,cholsterol,BMI,Excerise level,Smoking,sugarlevel,familyhistory,symptoms,diagnosis,medication
0,35,M,101,100,8.500000,High,yes,high,yes,no,yes,no
1,45,F,120,90,16.500000,low,no,low,yes,yes,yes,yes
2,32,M,140,120,20.500000,High,yes,high,no,no,yes,no
3,42,M,156,120,27.166667,High,no,low,yes,yes,no,yes
4,56,F,160,140,33.166667,low,yes,high,yes,no,yes,no
5,25,M,181,147,39.166667,High,no,low,no,yes,no,yes
6,42,F,197,158,45.166667,High,yes,high,yes,no,yes,no
7,21,M,212,169,51.166667,low,no,low,yes,yes,yes,yes
8,30,M,101,100,8.500000,High,yes,high,yes,no,yes,no
9,29,F,120,90,16.500000,low,no,low,yes,yes,yes,yes
10,27,M,140,120,20.500000,High,yes,high,no,no,no,no
11,26,M,156,120,27.166667,High,no,low,yes,yes,yes,yes
12,25,F,160,140,33.166667,low,yes,high,yes,no,no,no
13,23,M,181,147,39.166667,High,no,low,no,yes,yes,yes
14,22,F,197,158,45.166667,High,yes,high,yes,no,yes,no
15,20,M,212,169,51.166667,low,no,low,yes,yes,yes,yes
16,19,M,101,100,8.500000,High,yes,high,yes,no,yes,no
17,17,F,120,90,16.500000,low,no,low,yes,yes,no,yes
18,16,M,140,120,20.500000,High,yes,high,no,no,yes,no